<!-- Footer -->
<section id="footer">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4" id="footer_things">
          <h5>Home</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="/"><i class="bi bi-house"></i>Home</a></li>
            <li><a href="/about"><i class="bi bi-bookmarks"></i>About</a></li>
            <li><a href="/gallery"><i class="bi bi-images"></i>Gallery</a></li>
            <li><a href="/project"><i class="bi bi-nut-fill"></i>Project</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4" id="footer_things">
          <h5>Teams</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="bi bi-code-slash"></i>Software Team</a></li>
            <li><a href="#"><i class="bi bi-tools"></i>Hardware & Prototyping Team</a></li>
            <li><a href="#"><i class="bi bi-boxes"></i>3D Modelling Team</a></li>
            <li><a href="#"><i class="bi bi-easel2-fill"></i>Research & Pitching Team</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4" id="tact">
          <h5>Contact Us</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="bi bi-geo-alt"></i>UENR, Sunyani - Bono Region, Ghana</a></li>
            <li><a href="#"><i class="bi bi-telephone"></i>+233 549300250</a></li>
            <li><a href="#"><i class="bi bi-envelope-open"></i><small>uenrroboticsclub.innovate@gmail.com</small></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://www.facebook.com/urc" target="_blank"><i class="bi bi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="mailto:https://uenrroboticsclub.innovate@gmail.com" target="_blank"><i class="bi bi-envelope-open"></i></a></li>
          </ul>
        </div>
        <hr>
      </div>	
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">© 2022 All right Reserved. URC</p>
        </div>
        <hr>
      </div>	
    </div>
    <a id="back-to-top" href="#">
      <i class="bi bi-arrow-up-circle-fill" style="font-size: 20px; color: rgb(53, 22, 136);"></i></a>
  </section>
  <!-- ./Footer -->
  <!-- JavaScript Bundle with Popper -->
  <script src="/app.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>