    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="top">
        <div class="container-fluid">
          <a class="navbar-brand ime" href="#"><img src="images/urc_logo1.png" style="width: 120px; height: 50px; margin-left: 20px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02"  style="padding-top: 20px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link"  href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            <div class="d-flex">
              <a href="/join" ><button class="bit">Join Us <i></i></button></a>
            </div>
          </div>
        </div>
      </nav>
<!--END OF NAVBAR-->  