<%- include('./partials/header') %>
<%- include('./partials/navbar') %>       
<!--Page title-->
<div class="page-title-area shadow dark bg-fixed text-center text-light" id="sid">
    <div id="pro_cover">
    <div class="container" style="height: 45vh;" id="fold1">
        <div class="row">
            <div class="col-lg-12 col-md-12" >
                <div>
                <h1 style="text-align: center; font-size: 80px; "><b>Gallery</b></h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- End Page Title -->     
 <div class="container-fluid imgs-container">
    <p><b>STEM FESTIVAL</b></p>
    <div class=" imgs">
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1eJjXsTfcgH5KQmDuAAo1X8l_GyqUZPUL">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1Nxdywcm89cwIsUsVb_2T3DDwoSFyHeVb">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=13HDDMtazHxkhYPrCEr_N15tUMzHmRsD_">
        </div>
       
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1TxPWy6BEMeW-2Os-alXWhzwSludGi5nr">
        </div>
    </div>
    <br>
    <p><b>GLOBAL MONITORING FOR ENVIRONMENT & SECURITY INCUBATION CHALLENGE 2021 </b></p>
    <div class=" imgs">
        <div class="">
            <img src="https://drive.google.com/uc?export=view&id=1eULXO8IfY7_5ifjVhO9eMTHGfwrOnrYc">
        </div>
        <div class=" ">
          <img src="https://drive.google.com/uc?export=view&id=1AE-6wUfMNtiIe8K77UrwNKkRTSBy71jX">
      </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1AA7auGORpGriyVEMociWQcEpkYKqiQaK">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1A4gMh8Gj4zhFVspakwnQYzXyZJJW96Qy">
        </div>
        
    </div>
    <br>
    <p><b>NATIONAL ENERGY QUIZ & INNOVATION CHALLENGE </b></p>
    <div class=" imgs">
        <div class="">
            <img src="https://drive.google.com/uc?export=view&id=19uRyBdK4bGIl5L_TXsXZhkUrcj3WpLsI" alt="thumb">
        </div>
        <div class=" ">
          <img src="https://drive.google.com/uc?export=view&id=1Ydf9SqFpOtsxaV9XtNkencBWEJ2aUM5m">
      </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1RoNCx_IIdQf6LTvgO0ii4yJCdae9T59v">
        </div>
        <div class=" ">
            <img src="htttps://drive.google.com/uc?export=view&id=1Ydf9SqFpOtsxaV9XtNkencBWEJ2aUM5m">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1m3ci5DpFbJRYns39DjI4MIbDg8HAs3wX">
        </div>
       
    </div>
    <br>
    <p><b>FIRST GENERAL MEETING  </b></p>
    <div class=" imgs">
        <div class="">
            <img src="https://drive.google.com/uc?export=view&id=1wMvVpWhjwDc_N9jzEa3M0GOllgoQZ9lx" alt="thumb">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=14YkjTDA2KH1UuDzeealG3Tb00ycgQDfy">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1cevQckgvP8gP_F1M1Aq2bGhD33FBHRM0">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=19A5_6ZV4GvLiPxzf4g2fJGsRqWWgG93e">
        </div>
        <div class=" ">
            <img src="https://drive.google.com/uc?export=view&id=1ru7PfW1cIASffqOo1TF9lB_kCXWbV9Ib">
        </div>
    </div>
</div> 
<br>
<%- include('./partials/footer') %>